
/* ----------------------------主要顏色---------------------------------- */

/* 背景顏色 */
body {
    background-color: #fbc9c97d;
}

/* ----------------------------內容外觀---------------------------------- */

.card {
    width: 400px;
    height: 400px;
    margin: 65px;
    background-color: #f706dc2e;
    opacity: 0.6;
    filter: alpha(opacity=60);
}