
/* ----------------------------主要顏色---------------------------------- */

/* 背景顏色 */
body {
    background-color: #fbc9c97d;
}

/* ---------------------------卡片----------------------------------- */

.card
{
    width:300px;
}
/* 卡片照片比例 */
.card-img-top {
    height: 250px;
    width: 250px;
    display: block; /*圖片置中*/
    margin: auto; /*圖片置中*/
}

/* 卡片邊框 */
.card {
    box-shadow: 0px 0px 4px 0px #f000f733; /* (0px,0px,卡片邊框大小,0px,卡片顏色) */
}

/* 購物按鈕位置 */
.BuyBtn {
    margin-top: 19px;
}

/* 名稱與價錢行距 */
h4, h5 {
    line-height: 0.5;
}
